body {
    font-size: 24px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.red {
    color: red;
}
ul ol .green {
    color: green;
}
ul ol .red {
    color: red;
}
ul ol .blue {
    color: blue;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}